/* PromptInput.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 50px auto; /* Centering the container */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    width: 80%;
    max-width: 600px; /* Ensuring the form doesn't become too wide */
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Increased space between form elements */
}

.input, .inputGroup input {
    width: 100%; /* Ensuring inputs take full width */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.input:focus, .inputGroup input:focus {
    border-color: #007BFF;
}

.inputGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns for width and height inputs */
    gap: 20px; /* Space between grid items */
}

.button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

img {
    max-width: 50%;
    height: auto;
    border-radius: 4px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        margin: 20px auto; /* Reduced margin and padding on smaller screens */
        padding: 10px;
    }

    .inputGroup {
        grid-template-columns: 1fr; /* Stack inputs vertically on small screens */
    }
}
